/* Responsiveness set for phone screen */
@media (max-width:900px){



    body{
        background-color:#D3D3D3;
    }  

div{
    height:200px;
    width:200px;
    border: 1px solid;    
    position:relative;
    
}

.div1{
    
    left:35%;
    top:50%;
}

.div2{
    
    margin-top: 20px;
    left:35%;
    top:50%;

}

.div3{
    
    left:35%;
    top:50%;

}


}

 /* Responsiveness set for normal laptop screen from above 900px */


body{
        background-color:#D3D3D3;
    }    

div{
        height:200px;
        width:200px;
        border: 1px solid;
        position:relative;
        
    }
    
.div1{
        
        margin-top: 30px;
        margin-left: 30px;
        left:50px;
        top:80px;
        float:left;
        
    }
    
.div2{
        
        margin-top: 30px;
        margin-left: 30px;
        left:50px;
        top:80px;
        float:left;
        
    
    }
    
.div3{
        
        margin-top: 30px;
        margin-left: 30px;
        left:50px;
        top:80px;
        float:left;
        
    
    
    
    }
        
    

        

        
    


 

